body, html
  height: 100%
  line-height: 1
  font-weight: 200
  font-family: "Helvetica Neue",Helvetica,"PingFang SC","Hiragino Sans GB","Microsoft YaHei","微软雅黑",Arial,sans-serif
body
  background-color: #fbf6e4
  // background: url('/big-data-web/static/images/background.jpeg') no-repeat center center
  background-position center center
  background-repeat: repeat
  background-size: cover
.clearfix
  &:after
    display: block
    content: "."
    height: 0
    line-height: 0
    clear: both
    visibility: hidden
