@import "./var.styl";
border-1px($color)
  position: relative
  &:after
    display: block
    position: absolute
    left: 0
    bottom: 0
    width: 100%
    border-top: 1px solid $color
    content: ' '

border-none()
  &:after
    display: none

bg-image($url)
  background-image: url($url + "@2x.png")
  @media (-webkit-min-device-pixel-ratio: 3),(min-device-pixel-ratio: 3)
    background-image: url($url + "@3x.png")

boxshadow($num)
  box-shadow: inset 3px 3px $num #4a91d3, inset -3px -3px $num #4a91d3;
backgroundcolor()
  background-color: rgba(0, 97,156, 0.52);

buttonItem()
  .button-item
    display inline-block
    height 80px
    margin 0 2px
    line-height 80px
    transform skew(-30deg)
    cursor pointer
    backgroundcolor()
    boxshadow(4px)
    &.active
      .text
        color font-color
    .text
      display inline-block
      padding 0 48px
      transform skew(30deg)
      font-size 30px
      color #fff
